@model System_rezerwacji_sal.Models.Room

@{
    ViewData["Title"] = "Create";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="number" class="control-label"></label>
                <input asp-for="number" class="form-control" />
                <span asp-validation-for="number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numberOfSeats" class="control-label"></label>
                <input asp-for="numberOfSeats" class="form-control" />
                <span asp-validation-for="numberOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="hasProjector" /> @Html.DisplayNameFor(model => model.hasProjector)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="roomType" class="control-label"></label>
                <input asp-for="roomType" class="form-control" />
                <span asp-validation-for="roomType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="hasAirConditioner" /> @Html.DisplayNameFor(model => model.hasAirConditioner)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powróć</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
