@model Reservation_System_.Models.ViewModels.RoomViewModel


<h1>Wyszukiwarka sal</h1>


<form asp-controller="Rooms" asp-action="SearchRoom" method="post">
    <div class="mb-3">
        <label class="form-label text-dark">Wybierz ilość miejsc</label>
        <select class="form-select text-dark" asp-items="Model.selectSeats" asp-for="selectedNumber">
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label text-dark">Wybierz typ sali</label>
        <select class="form-select text-dark" asp-items="Model.selectType" asp-for="selectedType">
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label text-dark">Projektor</label>
        <select class="form-select text-dark" asp-items="Model.selectProjector" asp-for="optionProjector">
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label text-dark">Klimatyzacja</label>
        <select class="form-select text-dark" asp-items="Model.selectAirConditioner" asp-for="optionAirCond">
        </select>
    </div>
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default text-dark" />
        </div>
    </div>
</form>
